@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #09090b;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

nav {
  padding: 20px 0px;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .nav_link {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav .container .nav_link .nav_link_img img {
  animation: logo 2s linear infinite;
}
@keyframes logo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
nav .container .nav_link ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  color: #fafafa;
}
nav .container .nav_link ul li {
  font-size: 14px;
  font-weight: 500;
  color: #fafafa;
  transition: all 0.3s ease;
  position: relative;
}
nav .container .nav_link ul li i {
  padding-left: 10px;
}
nav .container .nav_link ul li:hover {
  transform: translateY(-5px);
  color: #fdba74;
  cursor: pointer;
}
nav .container .nav_link ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fdba74;
  transition: all 0.3s ease;
}
nav .container .nav_link ul li:hover::after {
  width: 100%;
}
nav .container .nav_button {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .container .nav_button .nav_btn_1 button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav .container .nav_button .nav_btn_1 button:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fdba74;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dadada;
  color: #09090b;
}
nav .container .nav_button .nav_btn_1 button:active {
  transform: scale(0.9);
}
nav .container .nav_button .nav_btn_2 button {
  padding: 10px 20px;
  background-color: #dadada;
  color: #09090b;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav .container .nav_button .nav_btn_2 button:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fdba74;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #dadada;
}
nav .container .nav_button .nav_btn_2 button:active {
  transform: scale(0.9);
}

.hero .container {
  margin-top: 40px;
}
.hero .container h3 {
  font-size: 12px;
  font-weight: 500;
  color: #a1a1aa;
  border: 1px solid #3a3a3c;
  width: 320px;
  padding: 6px 20px;
  border-radius: 100px;
  margin: 0px auto;
  transition: all 0.3s ease;
  margin-bottom: 35px;
}
.hero .container h3 :nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: #fafafa;
  padding-left: 10px;
}
.hero .container h3:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 100px 2px #fdba74;
  cursor: pointer;
}
.hero .container h1 {
  font-size: 96px;
  font-weight: 600;
  color: #e2e2e4;
  text-align: center;
  margin-bottom: 30px;
}
.hero .container p {
  font-size: 20px;
  font-weight: 500;
  color: #a1a1aa;
  width: 500px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 50px;
}
.hero .container .hero_button {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.hero .container .hero_button .hero_btn_1 button {
  padding: 10px 20px;
  background-color: #d8d6d5;
  color: #09090b;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.hero .container .hero_button .hero_btn_1 button:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fdba74;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #e2e2e4;
}
.hero .container .hero_button .hero_btn_1 button:active {
  transform: scale(0.9);
}
.hero .container .hero_button .hero_btn_2 button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  backdrop-filter: blur(1px);
}
.hero .container .hero_button .hero_btn_2 button:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fdba74;
  border-radius: 5px;
  cursor: pointer;
}
.hero .container .hero_button .hero_btn_2 button:active {
  transform: scale(0.9);
}/*# sourceMappingURL=main.css.map */